.parent{
  border: 5px solid #000;
  background-color: khaki;
  height: 700px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-content: space-between;
}
.item{
  font-size: 30px;
  border: 1px solid #000;
  background-color: skyblue;
  width: 150px;
  height: 150px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.item div{
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
/*.one div{
  justify-self: start;
  align-self: start;
}*/