.parent{
  display: grid;
  border: 5px solid #333;
  padding: 10px;
  width: 800px;
  background-color: #a29bfe;
  /*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.parent div{
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  text-align: center;
}