*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media(min-width:1024px){
  .face-gallery{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6, auto);
  }
  .face-gallery img{
    max-width: 100%;
    height: auto;
  }
}
@media (max-width:1024px){
  .face-gallery{
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}