.parent{
  border: 5px solid gray;
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}
.parent div{
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 5px;
  background-color: orange;
}